
nav{
    position: fixed;
    top: 0;
    z-index: 999;
}

.nav-links{
    background: white; 
}

@supports (backdrop-filter: blur(1rem)){
    .nav-links {
        background-color:rgba(255, 255, 255, 0.681); 
        backdrop-filter: blur(1rem);
    }
}

.nav-links li{
    list-style: none;
}

.nav-links li a{
    text-decoration: none;
    font-size: 0.9rem;
    font-family: 'Libre Franklin', sans-serif;
    color: black;
}

.nav-links li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  a:hover:after { 
    width: 100%; 
    left: 0; 
  }

.mobile-toggle {
    display: none;
}

@media (min-width: 992px){
    nav{
        width: 100vw;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }
}

@media (min-width: 769px){
    .nav-links{
        display: flex;
        align-items: center;
        justify-content: flex-start;  
        gap: 2rem;
        z-index: 10;
        position: fixed;
        padding: 2rem 3rem;
        width: 100vw;
    }
}

@media (max-width: 768px){
    .nav-links{
        display: flex;
        align-items: center;
        justify-content: center;  
        gap: 2rem;
        z-index: 10;
        position: fixed;
        padding: 3rem 4rem;
        width: 100vw;
    }

}

@media (max-width: 585px){
    .nav-links{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: min(20vh,10rem) 3em;
        z-index: 99;
        inset: 0 30% 0 0; 
        gap: 1rem;
        height: 100%;
        width: auto;
        transform: translateX(-100%);
        transition: transform 400ms ease-out;
    }

    .mobile-toggle{
        display: block;
        position: absolute;
        background-image: url('../assets/hamburger_icon.svg');
        background-repeat: no-repeat;
        border: 0; 
        background-color: transparent;
        width: 1.4rem;
        aspect-ratio: 1;
        z-index: 999;
        top: 1rem;
        left: 1rem;
    }

    .nav-links[data-visible='true'] {
        transform: translateX(0%);
    }
    
    .mobile-toggle[aria-expanded='true'] {
        background-image: url('../assets/xMark.svg');
    }
   
}

