nav{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

#nav-links {
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

#nav-links li{
    list-style: none;
    padding-right: 3rem;
    position: relative;
}

#nav-links li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'PT Sans Caption', sans-serif;
    color: black;
}