
nav{
    position: fixed;
    top: 0;
}

.nav-links{
    background: white; 
}

@supports (backdrop-filter: blur(1rem)){
    .nav-links {
        background-color:rgba(255, 255, 255, 0.681); 
        backdrop-filter: blur(1rem);
    }
}

.nav-links li{
    list-style: none;
}

.nav-links li a{
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Libre Franklin', sans-serif;
    color: black;
}

@media (min-width: 992px){
    nav{
        width: 100vw;
        z-index: 999;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }
}

@media (min-width: 769px){
    .nav-links{
        display: flex;
        align-items: center;
        justify-content: flex-start;  
        gap: 2rem;
        z-index: 10;
        position: fixed;
        padding: 3rem 4rem;
        width: 100vw;
    }
}

@media (max-width: 768px){
    .nav-links{
        display: flex;
        align-items: center;
        justify-content: center;  
        gap: 2rem;
        z-index: 10;
        position: fixed;
        padding: 3rem 4rem;
        width: 100vw;
    }

}

@media (max-width: 576px){
    .nav-links{
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: min(20vh,10rem) 3em;
        z-index: 99;
        inset: 0 30% 0 0; 
        gap: 1rem;
        height: 100%;
        width: auto;
    }

    .mobile-toggle{
        position: absolute;
        background: red;
        width: 1rem;
        z-index: 999;
        top: 2rem;
        left: 2rem;
    }
}

.hover-anim:after {
    content: '';
    position: absolute;
    margin-bottom: -5px;
    bottom: 0;
    left: 0;
    width: 0;
    border-bottom: 2px solid #3366FF;
    transition: 0.44s;
}
.hover-anim:hover:after {
    width: 55%;
}
  
#mobile{
    display: none;
}

#mobile svg{
    visibility: none;
}

#mobile.active svg{
    visibility:100;
}
