@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600&family=Trirong:wght@200&display=swap');

li {
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    
}

.entry h3 {
    font-family: 'Libre Franklin', sans-serif;
    color: white;
    font-size: 1.5rem;
}

