@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600&family=Trirong:wght@200&display=swap');

.timeline {
    margin-block: 2rem;
    position: relative;
}

.timeline .entry{
    padding: 30px 40px;
    position: relative;
    width: 50%;
}

.entry.left-container {
    left: 0;
}

.entry.right-container {
    left: 50%;
}

.entry .heading{
    margin-bottom: 1rem;
}

.entry .title p{
    font-size: 1.5rem;
    line-height: 1.1;
    margin-bottom: 10px;
    
}

.entry .place p{
    font-weight: 600;
}

.date p {
    font-size: x-small;
    margin-bottom: 20px;
    color: #be055f;
    font-family: 'Trirong', serif;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #4276ff;
    top: 0;
    left: 50%;
    margin-left: -4px;
    z-index: -1;
    animation: moveline 6s linear forwards;
}


@keyframes moveline {
    0%{
        height: 0;
    }
    100%{
        height: 100;
    }
}

@media screen and (max-width: 600px){
    .timeline{
        margin: 50px auto;
    }

    .timeline::after{
        left: 31px;
    }

    .entry{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
}
