@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600&family=Trirong:wght@200&display=swap');

.timeline {
    margin-block: 5rem;
    z-index: -1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.timeline .entry{
    padding: 30px 40px;
    position: relative;
    width: 50%;
}

.entry.left-container {
    left: 0;
}


.entry .heading{
    margin-bottom: 1rem;
    
}

.entry .title p{
    font-size: 1.6rem;
    line-height: 1.1;
    margin-bottom: 10px;
    color: #4276ff;
    
}

.entry .place p{
    font-weight: 600;
    font-size: 0.7rem;
}

.date p {
    font-size: x-small;
    margin-bottom: 20px;
    color: black;
    font-family: 'Trirong', serif;
}

.timeline .text p{
    font-size: 0.8rem;
}

/* .timeline::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    background: #4276ff;
    top: 0;
    left: 50%;
    margin-left: -4px;
    z-index: -1;
} */

@media screen and (max-width: 600px){
    .timeline{
        margin: 50px auto;
    }

    .timeline::after{
        left: 31px;
    }

    .entry{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
}
