@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600&family=Trirong:wght@200&display=swap');

.timeline {
    margin-top: 5rem;
    z-index: -1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
}

.timeline .entry{
    position: relative;
    margin-bottom: 3rem;
}


.entry .heading{
    margin-bottom: 1rem;
    
}

.entry .title p{
    font-size: 1.6rem;
    line-height: 1.1;
    margin-bottom: 10px;
    color: #4276ff;
    
}

.entry .place p{
    font-weight: 600;
    font-size: 0.7rem;
}

.date p {
    font-size: x-small;
    margin-bottom: 20px;
    color: black;
    font-family: 'Trirong', serif;
}

.timeline .text p{
    font-size: 1rem;
}

