@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.headline h1 {
  position: relative;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.section-text {
  text-align: center;
}

.section-text h1 {
  margin-block: 2rem;
}

/* HERO SECTION */
/* .hero-background {
  padding: 0;
  margin: 0;
  z-index: -999;
  background: url("./assets/hero_background.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  background-size: cover;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  position: relative;
} */

.hero {
  z-index: 9999;
  height: 100vh;
  display: flex;
  justify-items: end;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background: url("./assets/hero_background.svg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;


}

.icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  margin-top: 1.4rem;
}

.icons-wrapper svg {
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

.icons-wrapper svg:hover {
  transform: scale(1.4);
  transition: transform 0.5s ease;
}

.hero .container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

.hero .container .text-wrapper {
  text-align: center;
  max-width: 30rem;
}

.hero .container .text-wrapper h1 {
  padding-bottom: 1.5rem;
}

.hero h2 {
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}

.subtext-wrapper {
  max-width: 25rem;
}

.icon svg {
  z-index: 10;
  fill: var(--dark-color);
}

.wave-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -1vh;
  width: 100vw;
  overflow: hidden;
  line-height: 0; 
}

.wave-divider svg{
  position: relative;
  display: block;
  width: 100vw;
}

/* END HERO SECTION */

.section {
  padding-block: 1rem;
  background: var(--light-color)
}

#experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#experience .section-text {
  max-width: 34rem;
  margin-left: auto;
  margin-right: auto;
}

#resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
