/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600&family=Red+Hat+Mono&family=Trirong:wght@200&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Red Hat Mono', monospace;
  font-size: 2.3em;
  line-height: 1.1;
  font-weight: 300;
  color: #4a7dff;
}

.headline h1{
  position: relative;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.section-text {
  text-align: center;
}

.section-text h1{
  margin-block: 2rem;
}

h2{
  font-family: 'Trirong', serif;
  color: rgb(255, 255, 255);
}

p{
  font-family: 'Libre Franklin', sans-serif;
  color: #ececec;
}

/* HERO SECTION */

.hero{
  height: 100vh;
  display: flex;
  justify-items: end;
  align-items: center;
  justify-content: center;
  flex-direction: row;  
}

.icons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
  margin-top: 1.4rem
}

.icons-wrapper svg{
  transform: scale(1);
  transition: transform  0.2s ease-out;
}

.icons-wrapper svg:hover{
  transform: scale(1.4);
  transition: transform  0.5s ease;
}

.hero .container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap-reverse;
}

.hero .container .text-wrapper {
  text-align: center;
  max-width: 30rem;
}

.hero .container .text-wrapper h1{
  padding-bottom: 1.5rem;
  font-size: clamp(2.5rem, 2.5rem + 5vw, 7rem);
}

.hero h2{
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
}

.hero p{
  font-size: 0.8rem;
}

.subtext-wrapper {
  max-width: 25rem;
}

.icon svg {
  z-index: 10;
  fill: #e3e3e3;
}

.section {
  padding-block: 1rem;
  /* background-color: var(--dark-background-color); */
  background: linear-gradient(180deg, rgba(9,9,9,0) 0%, rgba(9,9,9,1) 16%);
}

#experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#experience .section-text{
  max-width: 34rem;
  margin-left: auto; 
  margin-right: auto;
}

#resources {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





