@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headline h1 {
  position: relative;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.section-text {
  text-align: center;
}

.section-text h1 {
  margin-block: 2rem;
}

.hero {
  z-index: 9999;
  height: 100vh;
  background: url("./assets/images/hero_background.svg");
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
}

.icons-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.icons-wrapper svg {
  transform: scale(1);
  transition: transform 0.2s ease-out;
}

.icons-wrapper svg:hover {
  transform: scale(1.4);
  transition: transform 0.5s ease;
}

.hero .container .text-wrapper {
  text-align: left;
  max-width: 30rem;
}

.hero .container .text-wrapper h1 {
  text-align: left;
  margin-left: -12px;
}

.subtext-wrapper {
  max-width: 25rem;
}

img.portrait {
  width: clamp(30rem, 40vw, 35rem);
}

.icon svg {
  z-index: 10;
  fill: var(--dark-color);
}

.wave-divider {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: -1vh;
  width: 100vw;
  overflow: hidden;
  line-height: 0;
}

.wave-divider svg {
  position: relative;
  display: block;
  width: 100vw;
}

/* END HERO SECTION */

.section {
  padding-block: 2rem;
}

.end.section-text {
  max-width: 30rem;
}

.end li {
  list-style: none;
  text-align: left;
  font-size: 1.3rem;
}

/* MEDIA QUERIES */
@media (max-width: 585px) {
  .hero .container .text-wrapper {
    text-align: center;
    max-width: 30rem;
  }

  .hero .container .text-wrapper h1 {
    margin-left: 0px !important;
  }

  .icons-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
